.fields-date-field {
    width: 100%;
    border: 1px solid #202324;
    font-family: monospace;
    display: flex;
    justify-content: space-around;
}


.navigable-field-entry-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


 

.navigable-field-see  {
    height: 20px;
    width: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navigable-field-see  img {
    width: 100%;
    height: 100%;
    /*    invert color*/
    filter: invert(1);
}


.navigable-field-see-rotate-90{
    transform: rotate(90deg);
}