.dumpster-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 10px;
    background-color: #ffffff10;
    cursor: pointer;
    border: 1px solid #ffffff20;
    border-radius: 2px;
    height: 30px;
}

.selected-dumpster {
    background-color: #8888ff80;
    transition: background-color 0.5s;
}

.dumpster-selection-column-container {
    width: 12%;
}

.dumpster-state-label {
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    font-family: monospace;
    margin: 10px;
}

.dumpster-state-label-good {
    border: 1px solid #00ff0090;
    background-color: #00ff0010;
}

.dumpster-state-label-burned {
    border: 1px solid #ff000090;
    background-color: #ff000010;
}

.dumpster-state-label-need-repair {
    border: 1px solid #ffaa0090;
    background-color: #ffaa0010;
}

.leaflet-container {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.dumpsters-screen-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2%;
    height: 70vh;

}


.dumpsters-map-container {
    height: 100%;
    width: 60%;    
}

.dumpsters-map {
    
    border-radius: 0;
    border: 1px solid #00000080;
    
    
    
    
}