:root {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
    font-synthesis: none;
    text-rendering: optimizeLegibility;

    margin: 0;
    border: 0;
    width: 100%;
}

:root {
    line-height: 1.5;
    color-scheme: dark;
    color: #fafaffde;
    background-color: #202335;
    /*background-color: #202324;*/


}

html {
    overflow: hidden;
}


/*Estilo de las barras de scroll*/

::-webkit-scrollbar {
    background-color: #303670;
    border: 1px solid #101112a0;
    border-radius: 00px; /* es para que se vea redondo siempre */
    width: 12px;
    height: 13px;
}

::-webkit-scrollbar-thumb {
    background-color: #000010;


    border-radius: 00px; /* es para que se vea redondo siempre */

}


::-webkit-scrollbar-corner {
    background-color: #000010;
}